.custom-slider .track {
    -fx-background-color: #b1b1b1;
    -fx-background-radius: 5px;
    -fx-pref-height: 4px;
}

.custom-slider .thumb {
    -fx-background-color: RED;
    -fx-background-radius: 50%;
    -fx-padding: 8px;
}
