    .button{
        -fx-font-size: 20;
        -fx-pref-width: 150;
        -fx-pref-height: 35;
        -fx-border-radius: 50px;
        -fx-border-width: 10px;
        -fx-background-color: black;
        -fx-text-fill: WHITE;
    }


    .grayButton {
        -fx-background-color: LIGHTGRAY;
        -fx-text-fill: BLACK;
    }